﻿@model IEnumerable<Web_Proke.Models.Calisanlar>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CalisanAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CalisanSoyadi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.e_posta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ünvani)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin.KullaniciAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CalisanAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CalisanSoyadi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.e_posta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ünvani)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Admin.KullaniciAdi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CalisanID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CalisanID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CalisanID })
        </td>
    </tr>
}

</table>
