﻿@model Web_Proke.Models.Konum

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Konum</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RafNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RafNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RafSira)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RafSira)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Durum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Durum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Admin.KullaniciAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin.KullaniciAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DolapKodu }) |
    @Html.ActionLink("Back to List", "Index")
</p>
