﻿@model IEnumerable<Web_Proke.Models.Konum>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RafNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RafSira)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Durum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin.KullaniciAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RafNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RafSira)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Durum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Admin.KullaniciAdi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DolapKodu }) |
            @Html.ActionLink("Details", "Details", new { id=item.DolapKodu }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DolapKodu })
        </td>
    </tr>
}

</table>
