﻿@model IEnumerable<Web_Proke.Models.Üyeler>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ÜyeAdiSoyadi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefonNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KayitTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.a_mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KullanıcıAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parola)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin.KullaniciAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ÜyeAdiSoyadi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefonNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KayitTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.a_mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KullanıcıAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parola)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Admin.KullaniciAdi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ÜyeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ÜyeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ÜyeID })
        </td>
    </tr>
}

</table>
