﻿@model IEnumerable<Web_Proke.Models.Katalog>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Adı)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KonuBasliklari)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tür)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YayinBilgisi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FizikselNitelik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN_ISSN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin.KullaniciAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Konum.Durum)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Adı)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KonuBasliklari)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tür)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YayinBilgisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FizikselNitelik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN_ISSN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Admin.KullaniciAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Konum.Durum)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.KatalogID }) |
                @Html.ActionLink("Details", "Details", new { id = item.KatalogID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.KatalogID })
            </td>
        </tr>
    }

</table>
