﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>About Us | Corlate</title>

    <!-- core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/animate.min.css" rel="stylesheet">
    <link href="~/Content/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet">
    <link href="~/Content/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->
<body>

    <section id="about-us">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Misyon ve Vizyon</h2>
                <p class="lead">Misyonumuz

“İnsanlığa değer katan girişimci bireyler yetiştirmek ve evrensel nitelikte bilgi, teknoloji ve hizmet üretmektir.” <br>Vizyonumuz

“Ürettiği evrensel nitelikte bilgi ve teknoloji ile Türkiye ve dünyada paydaşlarının geleceğine yön veren bir üniversite olmaktır.”</p>
            </div>

            <!-- about us slider -->
            <div id="about-slider">
                <div id="carousel-slider" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators visible-xs">
                        <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-slider" data-slide-to="1"></li>
                        <li data-target="#carousel-slider" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="~/images/slider_one.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="item">
                            <img src="~/images/slider_one.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="item">
                            <img src="~/images/slider_one.jpg" class="img-responsive" alt="">
                        </div>
                    </div>

                    <a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>

                    <a class=" right carousel-control hidden-xs" href="#carousel-slider" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div> <!--/#carousel-slider-->
            </div><!--/#about-slider-->
            <!-- Our Skill -->
            <div class="skill-wrap clearfix">

                <div class="center wow fadeInDown">
                    <h2>Tarihçe</h2>
                    <p class="lead">Kendisine çağdaş uygarlığın gerektirdiği her türlü donanıma sahip bireyler yetiştirmeyi amaç edinmiş olan Sakarya Üniversitesi'nin çekirdeğini 1970 yılında açılan Sakarya Mühendislik ve Mimarlık Yüksekokulu oluşturmuştur. Bu okul 1971 yılında Sakarya Devlet Mimarlık ve Mühendislik Akademisi'ne dönüşmüş, 1982-1992 yılları arasında İstanbul Teknik Üniversitesi'ne bağlı bir Fakülte olarak öğretim vermiştir. <br>3 Temmuz 1992 tarih ve 3837 sayılı kanun ile Sakarya Üniversitesi kurulmuştur.<br> 90 sonrasında kurulan üniversiteler arasında akademik ve teknik altyapısını hızla tamamlayan üniversitemiz idari birimleri ile ISO-2002 Kalite Belgesi ile "EFQM Mükemmellik Yetkinlik Seviyesi Kalite Belgesi"ne sahip ilk ve tek devlet üniversitesi olup lâboratuar, eğitim ve sosyal hizmetler, Internet alt yapısı ve bilişim sektöründeki atılımlarıyla bir çok üniversite için örnek oluşturmaktadır.</p>

                </div>

              

            </div><!--/.our-skill-->
            <!-- our-team -->
            <div class="team">
                <div class="center wow fadeInDown">
                    <h2>Fiziki imkanlar</h2>
                    <p class="lead">
                        Üniversitemiz yerleşkesi yan kampüslerimiz de dahil yaklaşık 1.700,000 m2’dir. Eğitim öğretim ve idari süreçlerinin uygulandığı fiziki alan toplamı ise 320.433.9 m2’dir. <br> 2013-2014 yılı itibariyle Üniversitemiz bünyesinde 16 Fakülte, 7 Yüksek Okul, 18 Meslek Yüksek Okulu, 4 Enstitü ve Devlet Konservatuvarı eğitim ve öğretim birimleri mevcut olup, toplam öğrenci sayımız  62.719’dur.<br> Bugün itibariyle devam eden inşaatlarımız  Kampüs Alt Yapı Projesi kapsamında :
                        4 adet Laboratuvar Binası, Mini Futbol Sahası, 2 Adet Tenis Kortu, 2 Adet Basketbol Sahası, Hukuk Fakültesi Derslik Bloğu inşaatıdır.  Derslikler ve Merkezi Birimler Projesi Kapsamında : İlahiyat Fakültesi İnşaatı, İşletme Fakültesi İnşaatı, Teknoloji Fakültesi Merkezi Laboratuvar Binası İnşaatı, Tıp Fakültesi Bünyesinde Morfoloji (A) Blok İnşaatı, Deney Hayvanları Laboratuvarları İnşaatı ve ayrıca Sivil Toplum Kuruluşları Tarafından Yaptırılanlar : Karasu M.Y.O Ek Binası İnşaatı, Kocaali M.Y.O İnşaatı, Kaynarca Eğitim Bilimleri ve Uygulama inşaatı,  Arifiye  M.Y.O İnşaatı, Sapanca M.Y.O İnşaatı, Hendek M.Y.O İnşaatı ve Şen Piliç tarafından yaptırılan Bilgisayar Bilişim Fakültesi İnşaatları çalışmaları devam etmektedir.
                    </p>
                </div>
            </div>
        </div><!--/.container-->
    </section><!--/about-us-->

   
   

    <script src="~/Scripts/jquery.js"></script>
    <script type="text/javascript">
        $('.carousel').carousel()
    </script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.prettyPhoto.js"></script>
    <script src="~/Scripts/jquery.isotope.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
</body>
</html>